.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #111827;
    color: white;
  }
  
  .nav-links {
    display: flex;
    gap: 25px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
  }
  